install_pgks.sh
!/**/nbconverted/*.py
**/.jukit/
.ipynb_checkpoints/
.virtual_documents/
__pycache__/
!/**/utils/*.py
.DS_Store

# ignore single-cell crop images for main figure 4 (too many files)
sc_crops*
# Nested painting repo
nf1_painting_repo/